.reset-password-heading {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Outfit', sans-serif;
  color: #2C2738;
}
.new-password{
  margin:auto;
}

.email-text {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.newpasswordcard {
  margin: 0 auto;
  float: none;
  margin-top: 20%;
  padding:5%;
}

.custom-button {
  width: 256px;
  height: 40px;
  margin-top: 30px;
  background-color: #3883CE !important;
  color: #fff !important;
  transition: transform 0.3s ease-in-out;
}

.custom-button:hover {
  transform: scale(1.02);
}

.custom-input {
  margin-top: 20%;
}


.confirm-input.confirm-input-invalid {
  margin-top: 40%;
}



.custom-link {
  text-decoration: none;
}

.password-container {
  position: relative;
}

.showpassword,
.showconfirmpassword {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.custom-input.is-invalid + .showpassword {
  top: calc(44%);
}
.invalid-feedback + .showpassword {
  top: calc(16%);
}
.invalid-feedback + .showconfirmpassword {
  top: calc(20%);
}
.invalid-feedback{
  color: red; 
  
}





.password-error-message {
  color: red;
  font-size: 15px;
  position: absolute;
  top:100%;

}

.confirm-password-error-message{
  color: red;
  font-size: 15px;
  position: absolute;
  top:100%;
}




.show-error-message {
  position: relative;
}
